# Prettier configuration

printWidth: 90
singleQuote: false
tabWidth: 2
useTabs: false
endOfLine: lf

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:


# java rules:
overrides:
  - files: "*.java"
    options:
      tabWidth: 2
